software/flows.json
[{"id":"97147c73.b3df","type":"tab","label":"generator","disabled":false,"info":""},{"id":"b4f38bde.6db3a8","type":"tab","label":"oscilloscope","disabled":false,"info":""},{"id":"7393286f.88a008","type":"tab","label":"setup","disabled":false,"info":""},{"id":"11bc5288.bcc5bd","type":"tab","label":"multimeter","disabled":false,"info":""},{"id":"3902b6d7.eae3aa","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"80416bb0.dc7638","type":"ui_group","z":"","name":"Default","tab":"3902b6d7.eae3aa","order":1,"disp":true,"width":"6","collapse":false},{"id":"50109926.d9e918","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"14fa259d.48af9a","type":"serial-port","z":"","serialport":"COM5","serialbaud":"2400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b08256d6.020f68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a653b8a0.d60748","type":"exec","z":"97147c73.b3df","command":"py -3 C:\\Users\\%username%\\scripts\\generator.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":240,"wires":[[],[],[]]},{"id":"5d02b6ff.9ff828","type":"switch","z":"97147c73.b3df","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":300,"wires":[["b6845e50.2c3b5"],["91e99787.7fe158"]]},{"id":"7d845f49.d649a","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":675,"y":280,"wires":[]},{"id":"6c7ed29a.83d80c","type":"link in","z":"97147c73.b3df","name":"","links":["7d845f49.d649a","45c4dea9.36f25","f4810216.735c8","579f7b04.111a14","befe3b71.f66298","3f30d831.aabf38","34affff5.a9ef1","7ae5fa8c.e19dd4","d334c429.6d1198","20cee7c7.1f9458","84ba62e4.29be9"],"x":235,"y":240,"wires":[["a653b8a0.d60748"]]},{"id":"45c4dea9.36f25","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":675,"y":320,"wires":[]},{"id":"75904cb8.df1834","type":"inject","z":"97147c73.b3df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["e4e505a9.7e3a08"]]},{"id":"e4e505a9.7e3a08","type":"change","z":"97147c73.b3df","name":"","rules":[{"t":"set","p":"generator","pt":"flow","to":"USB0::0xF4ED::0xEE3A::NDG10GAQ3R0226::INSTR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":180,"wires":[[]]},{"id":"b6845e50.2c3b5","type":"function","z":"97147c73.b3df","name":"generator on output1 cmd","func":"msg = {\"payload\": flow.get(\"generator\") + \" \" +'\"C1:OUTP ON\"'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":280,"wires":[["7d845f49.d649a"]]},{"id":"91e99787.7fe158","type":"function","z":"97147c73.b3df","name":"generator off output1 cmd","func":"msg = {\"payload\": flow.get(\"generator\") + \" \" +'\"C1:OUTP OFF\"'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":320,"wires":[["45c4dea9.36f25"]]},{"id":"6e5b0492.ff628c","type":"function","z":"97147c73.b3df","name":"generator set vpp output1","func":"msg2 = {\"payload\": flow.get(\"generator\") + \" \" +'\"'+ \"C1:BSWV AMP,\" +msg.payload}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":440,"wires":[["f4810216.735c8"]]},{"id":"f4810216.735c8","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":675,"y":440,"wires":[]},{"id":"290a246.522d1dc","type":"function","z":"97147c73.b3df","name":"generator set ch1 freq","func":"msg2 = {\"payload\": flow.get(\"generator\") + \" \" +'\"'+ \"C1:BSWV FRQ,\" +Math.round(msg.payload) + \"Hz\"}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":540,"wires":[["579f7b04.111a14"]]},{"id":"579f7b04.111a14","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":895,"y":540,"wires":[]},{"id":"d4bbee9c.ee8ea","type":"ui_text_input","z":"97147c73.b3df","name":"","label":"Generator CH1 Frequency, Hz","tooltip":"","group":"80416bb0.dc7638","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"2000","topic":"","x":250,"y":540,"wires":[["26f15fd8.33e3b"]]},{"id":"842f6236.dc8e7","type":"ui_switch","z":"97147c73.b3df","name":"","label":"Generator output CH1","tooltip":"","group":"80416bb0.dc7638","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":180,"y":300,"wires":[["5d02b6ff.9ff828"]]},{"id":"cc14c93b.e3be98","type":"ui_slider","z":"97147c73.b3df","name":"","label":"Generator CH1 Output, V","tooltip":"","group":"80416bb0.dc7638","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0.1","max":10,"step":"0.1","x":230,"y":440,"wires":[["6e5b0492.ff628c"]]},{"id":"a1209f9a.35d98","type":"http in","z":"97147c73.b3df","name":"","url":"/generator/command","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1100,"wires":[["81c06ed4.c1db4"]]},{"id":"f3b52fc7.f23bd","type":"http response","z":"97147c73.b3df","name":"","statusCode":"","headers":{},"x":1070,"y":360,"wires":[]},{"id":"e5491540.5d2d18","type":"link in","z":"97147c73.b3df","name":"","links":["24e38b85.63fc04","b98d8958.f0a5d8","20db925.3da436e","eeda389c.8d7f48","31f9b5ff.991a5a"],"x":55,"y":300,"wires":[["842f6236.dc8e7"]]},{"id":"d7f19350.93d4","type":"link in","z":"97147c73.b3df","name":"","links":["60047e21.0afe5","5fdfad9c.57bd44"],"x":55,"y":440,"wires":[["cc14c93b.e3be98"]]},{"id":"98fa97c.b085c68","type":"link in","z":"97147c73.b3df","name":"","links":["4742372.38fcec8","a0e0541f.5e5688"],"x":55,"y":540,"wires":[["d4bbee9c.ee8ea"]]},{"id":"1146eacd.6e74f5","type":"change","z":"97147c73.b3df","name":"400","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":380,"wires":[["f3b52fc7.f23bd"]]},{"id":"78edbf88.06011","type":"change","z":"97147c73.b3df","name":"200","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":340,"wires":[["f3b52fc7.f23bd"]]},{"id":"aa19b1a0.16f75","type":"function","z":"97147c73.b3df","name":"parse","func":"msg.payload = parseFloat(msg.payload.vpp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1000,"wires":[["60047e21.0afe5"]]},{"id":"60047e21.0afe5","type":"link out","z":"97147c73.b3df","name":"","links":["d7f19350.93d4"],"x":1095,"y":1000,"wires":[]},{"id":"f853a139.7843b","type":"switch","z":"97147c73.b3df","name":"vpp","property":"payload.vpp","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":1040,"wires":[["aa19b1a0.16f75","2134d9da.bf3866"],["d2cf776c.825178"]]},{"id":"5da12545.e4d19c","type":"function","z":"b4f38bde.6db3a8","name":"Auto Set","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":AUTOset\"}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":60,"wires":[["bbd180b.3819b8"]]},{"id":"f7a2fb4c.b12798","type":"function","z":"b4f38bde.6db3a8","name":"Set CH1 as measure source","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:SOURce1 CH1\"}\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":220,"wires":[["47d7e975.13f0d8"]]},{"id":"e7b20d87.0257","type":"function","z":"b4f38bde.6db3a8","name":"Get Vpp","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:PK2Pk?\"}\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["70fccc85.73d5c4"]]},{"id":"3bd6c3e8.caf55c","type":"change","z":"b4f38bde.6db3a8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"E","fromt":"str","to":"e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[["5016db13.8e1554"]]},{"id":"5016db13.8e1554","type":"function","z":"b4f38bde.6db3a8","name":"refactor","func":"msg.vpp = parseFloat(msg.payload)\nmsg.vamp = parseFloat(msg.payload)/2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":380,"wires":[["3ceb16b5.43e28a","620118e2.676cf8"]]},{"id":"78bca351.57ef0c","type":"function","z":"b4f38bde.6db3a8","name":"Get freq","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:FREQuency?\"}\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":460,"wires":[["473cc886.3327e8"]]},{"id":"eb2fda26.b75128","type":"change","z":"b4f38bde.6db3a8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"E","fromt":"str","to":"e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":540,"wires":[["78f0bfd7.4e2de"]]},{"id":"78f0bfd7.4e2de","type":"function","z":"b4f38bde.6db3a8","name":"refactor","func":"msg.freq = parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":540,"wires":[["b9171dd0.4162c"]]},{"id":"856ea487.0629b8","type":"function","z":"b4f38bde.6db3a8","name":"update ui image","func":"msg.payload = \"http://localhost:1880/ui/screenshot.jpg?\" + Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":120,"wires":[["77b71f21.a0cd"]]},{"id":"3ceb16b5.43e28a","type":"ui_text","z":"b4f38bde.6db3a8","group":"80416bb0.dc7638","order":6,"width":0,"height":0,"name":"","label":"Oscilloscope Vpp = ","format":"{{msg.vpp}} V","layout":"row-left","x":1150,"y":360,"wires":[]},{"id":"620118e2.676cf8","type":"ui_text","z":"b4f38bde.6db3a8","group":"80416bb0.dc7638","order":7,"width":0,"height":0,"name":"","label":"Oscilloscope Vamp = ","format":"{{msg.vamp}} V","layout":"row-left","x":1160,"y":400,"wires":[]},{"id":"b9171dd0.4162c","type":"ui_text","z":"b4f38bde.6db3a8","group":"80416bb0.dc7638","order":8,"width":0,"height":0,"name":"","label":"Oscilloscope Frequency = ","format":"{{msg.freq}} Hz","layout":"row-left","x":1150,"y":540,"wires":[]},{"id":"d461221f.1a34","type":"ui_button","z":"b4f38bde.6db3a8","name":"","group":"80416bb0.dc7638","order":4,"width":0,"height":0,"passthru":false,"label":"Oscilloscope Auto Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":60,"wires":[["5da12545.e4d19c","f4371a1b.3ccb08"]]},{"id":"335a0cbd.24b1b4","type":"ui_button","z":"b4f38bde.6db3a8","name":"","group":"80416bb0.dc7638","order":5,"width":0,"height":0,"passthru":false,"label":"Oscilloscope Get Measurements","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":140,"wires":[["f4371a1b.3ccb08"]]},{"id":"77b71f21.a0cd","type":"ui_template","z":"b4f38bde.6db3a8","group":"80416bb0.dc7638","name":"","order":14,"width":"6","height":"4","format":"<div>\n    <img src={{msg.payload}} style=\"float:center;width:100%;height:100%;\"/>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1220,"y":160,"wires":[[]]},{"id":"f55ef002.05b07","type":"function","z":"7393286f.88a008","name":"","func":"msg2 = {}\nif (!isNaN(msg.payload)) {\n    msg2 = {\"payload\": \"setcoord\" + Math.round(msg.payload)}\n}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":100,"wires":[["46e5e0c8.5b16c"]]},{"id":"9e865fb.d6ca8a","type":"template","z":"7393286f.88a008","name":"set not ready","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Not ready!","output":"str","x":770,"y":60,"wires":[["c44974bc.d29758"]]},{"id":"57629158.51935","type":"template","z":"7393286f.88a008","name":"set ready","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ready!","output":"str","x":760,"y":100,"wires":[["c44974bc.d29758"]]},{"id":"ce5f9521.dc3e18","type":"switch","z":"7393286f.88a008","name":"is ready?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ready","vt":"str"},{"t":"cont","v":"done","vt":"str"},{"t":"cont","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":540,"y":120,"wires":[["57629158.51935"],["57629158.51935"],["d476b89a.c369c8"]]},{"id":"d476b89a.c369c8","type":"template","z":"7393286f.88a008","name":"set error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR!","output":"str","x":760,"y":140,"wires":[["c44974bc.d29758"]]},{"id":"c6332fb8.6deb1","type":"function","z":"7393286f.88a008","name":"","func":"msg2 = {\"payload\": \"setcapacity\" + msg.payload}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":140,"wires":[["46e5e0c8.5b16c"]]},{"id":"7ca208de.528bc8","type":"switch","z":"7393286f.88a008","name":"no response","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ERR_TIMEOUT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":180,"wires":[["84fa2e7d.51ae6"]]},{"id":"84fa2e7d.51ae6","type":"template","z":"7393286f.88a008","name":"set no response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"No response!","output":"str","x":780,"y":180,"wires":[["c44974bc.d29758"]]},{"id":"60fd7a07.c49f84","type":"ui_text_input","z":"7393286f.88a008","name":"","label":"Coordinate, mm","tooltip":"","group":"80416bb0.dc7638","order":10,"width":0,"height":0,"passthru":false,"mode":"number","delay":"1000","topic":"","x":160,"y":60,"wires":[["f55ef002.05b07","9e865fb.d6ca8a"]]},{"id":"c44974bc.d29758","type":"ui_text","z":"7393286f.88a008","group":"80416bb0.dc7638","order":9,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-center","x":960,"y":100,"wires":[]},{"id":"e17c788b.aecc38","type":"ui_dropdown","z":"7393286f.88a008","name":"","label":"Capacity","tooltip":"","place":"Select option","group":"80416bb0.dc7638","order":11,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"C1","value":1,"type":"num"},{"label":"C2","value":2,"type":"num"},{"label":"C3","value":3,"type":"num"}],"payload":"","topic":"","x":140,"y":180,"wires":[["c6332fb8.6deb1"]]},{"id":"46e5e0c8.5b16c","type":"serial request","z":"7393286f.88a008","name":"","serial":"50109926.d9e918","x":350,"y":120,"wires":[["ce5f9521.dc3e18","7ca208de.528bc8"]]},{"id":"717b83ba.e1083c","type":"switch","z":"97147c73.b3df","name":"freq","property":"payload.freq","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"2000000","v2t":"num"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":1300,"wires":[["38bf7e67.543c72","5981843f.42588c"],["e7acf0d0.09fa7"]]},{"id":"38bf7e67.543c72","type":"function","z":"97147c73.b3df","name":"parse","func":"msg.payload = parseFloat(msg.payload.vpp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1260,"wires":[["4742372.38fcec8"]]},{"id":"4742372.38fcec8","type":"link out","z":"97147c73.b3df","name":"","links":["98fa97c.b085c68"],"x":1035,"y":1260,"wires":[]},{"id":"81c06ed4.c1db4","type":"switch","z":"97147c73.b3df","name":"command","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"output","vt":"str"},{"t":"hask","v":"vpp","vt":"str"},{"t":"hask","v":"freq","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":320,"y":1100,"wires":[["97431b01.21fbc8"],["43479f2b.7703e"],["9f5f76e6.d96ab8"],["1f0bfec5.36a301"]]},{"id":"a6ed9214.e0fb4","type":"link in","z":"97147c73.b3df","name":"","links":["9ddc2473.808a38","2134d9da.bf3866","5981843f.42588c","c5459015.69c5f","af3d0680.195118","33b0150.ac9b4ec","bf017f6.ee0548","27b32413.00fb4c","750fb4d3.3ad88c","f922d011.a1305","30272fd6.34e65"],"x":775,"y":340,"wires":[["78edbf88.06011"]]},{"id":"9749564f.d38ec8","type":"link in","z":"97147c73.b3df","name":"","links":["10f5c067.23103","1f0bfec5.36a301","d2cf776c.825178","e7acf0d0.09fa7","12f0f715.2cb069","c24e9cbc.d39e8","c11ba4e.7c1eb58","7c0514e4.97946c","62b3fae5.b3ec14","1746b28f.e4d65d","b6324697.0b8398","b36f01e0.66b8b"],"x":775,"y":380,"wires":[["1146eacd.6e74f5"]]},{"id":"1f0bfec5.36a301","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":495,"y":1520,"wires":[]},{"id":"d2cf776c.825178","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":915,"y":1080,"wires":[]},{"id":"2134d9da.bf3866","type":"link out","z":"97147c73.b3df","name":"","links":["a6ed9214.e0fb4"],"x":915,"y":1040,"wires":[]},{"id":"e7acf0d0.09fa7","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":875,"y":1340,"wires":[]},{"id":"5981843f.42588c","type":"link out","z":"97147c73.b3df","name":"","links":["a6ed9214.e0fb4"],"x":875,"y":1300,"wires":[]},{"id":"fc240b73.c346a8","type":"http in","z":"b4f38bde.6db3a8","name":"","url":"/oscilloscope/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":860,"wires":[["2a843756.bae4d8"]]},{"id":"2a843756.bae4d8","type":"switch","z":"b4f38bde.6db3a8","name":"command","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"autoset","vt":"str"},{"t":"hask","v":"display","vt":"str"},{"t":"hask","v":"screenshot","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":480,"y":860,"wires":[["1668c34f.bcb67d"],["22b768b5.e170e8"],["8c26101c.82ad9"],["82956876.9fb6d8"]]},{"id":"82956876.9fb6d8","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["ce8c664a.8df968","7bee2ba1.7f0a54","11f6d476.421edc"],"x":595,"y":1100,"wires":[]},{"id":"47af4410.f1656c","type":"http response","z":"b4f38bde.6db3a8","name":"","statusCode":"","headers":{},"x":1010,"y":700,"wires":[]},{"id":"e8d3aa47.189818","type":"change","z":"b4f38bde.6db3a8","name":"400","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":700,"wires":[["47af4410.f1656c"]]},{"id":"946e8d6c.337b","type":"change","z":"b4f38bde.6db3a8","name":"200","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":660,"wires":[["47af4410.f1656c"]]},{"id":"7fccdc07.63bdc4","type":"link in","z":"b4f38bde.6db3a8","name":"","links":["f6b88126.0975e","a539ba48.1b55b8","d7bd6dd5.3cdd4","3bc8863e.fe852a","7f02d51b.b5a97c","749e0b92.db6304","4d14c3df.1b584c"],"x":735,"y":660,"wires":[["946e8d6c.337b"]]},{"id":"ce8c664a.8df968","type":"link in","z":"b4f38bde.6db3a8","name":"","links":["4f3c938b.622f5c","82956876.9fb6d8","44cd6e1.bdbe29","980e8473.5f61f8","33ce710c.3a773e","471b4798.70fe78","c9774c13.2f9e7","fd6f8588.0474c8"],"x":735,"y":700,"wires":[["e8d3aa47.189818"]]},{"id":"b40cde4f.b4245","type":"http in","z":"b4f38bde.6db3a8","name":"","url":"/oscilloscope/status","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1160,"wires":[["20d1cb3b.387fe4"]]},{"id":"272e56c9.88ecfa","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1320,"y":840,"wires":[["e3aa98e9.ccc338"],[],[]]},{"id":"1668c34f.bcb67d","type":"function","z":"b4f38bde.6db3a8","name":"Auto Set","func":"msg.payload = flow.get(\"oscilloscope\") + \" \" +'\"'+ \":AUTOset\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":780,"wires":[["272e56c9.88ecfa"]]},{"id":"f6152cfd.44741","type":"inject","z":"b4f38bde.6db3a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":20,"wires":[["60a9723b.10f13c"]]},{"id":"60a9723b.10f13c","type":"change","z":"b4f38bde.6db3a8","name":"","rules":[{"t":"set","p":"oscilloscope","pt":"flow","to":"COM4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":20,"wires":[[]]},{"id":"d09ee34e.6a5be","type":"change","z":"b4f38bde.6db3a8","name":"500","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":740,"wires":[["47af4410.f1656c"]]},{"id":"e3aa98e9.ccc338","type":"switch","z":"b4f38bde.6db3a8","name":"is error?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"error","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1380,"y":760,"wires":[["ec967f37.023"],["7f02d51b.b5a97c"]]},{"id":"69efa2f7.85434c","type":"link in","z":"b4f38bde.6db3a8","name":"","links":["ec967f37.023","d9125a62.de68f8","9d48ab46.1eb838"],"x":735,"y":740,"wires":[["d09ee34e.6a5be"]]},{"id":"ec967f37.023","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["69efa2f7.85434c","913fb167.c475e"],"x":1475,"y":740,"wires":[]},{"id":"7f02d51b.b5a97c","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["7fccdc07.63bdc4","6dd44a56.df5294"],"x":1475,"y":780,"wires":[]},{"id":"8c26101c.82ad9","type":"template","z":"b4f38bde.6db3a8","name":"get screen comand","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"C:\\Users\\%username%\\.node-red\\node_modules\\node-red-dashboard\\dist\\screenshot.png  --port {{flow.oscilloscope}} --width 800 --height 480","output":"str","x":670,"y":1060,"wires":[["208f95ac.bedaea"]]},{"id":"208f95ac.bedaea","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\gdstools-master\\capture_screen.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1040,"y":1060,"wires":[[],[],["29c2223c.ece26e"]]},{"id":"29c2223c.ece26e","type":"switch","z":"b4f38bde.6db3a8","name":"is not error?","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":1020,"wires":[["749e0b92.db6304"],["d9125a62.de68f8"]]},{"id":"749e0b92.db6304","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["7fccdc07.63bdc4","6dd44a56.df5294"],"x":1475,"y":1000,"wires":[]},{"id":"d9125a62.de68f8","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["69efa2f7.85434c","913fb167.c475e"],"x":1475,"y":1040,"wires":[]},{"id":"148a9c8.f0d0e64","type":"function","z":"b4f38bde.6db3a8","name":"Set CH as measure source","func":"msg.payload = flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:SOURce1 CH\" + msg.payload.channel\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1160,"wires":[["a41c4481.29cd88"]]},{"id":"535b7100.f331e","type":"function","z":"b4f38bde.6db3a8","name":"Get Vpp","func":"msg.payload = flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:PK2Pk?\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1240,"wires":[["4833b974.562568"]]},{"id":"a9317124.6b877","type":"change","z":"b4f38bde.6db3a8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"E","fromt":"str","to":"e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1320,"wires":[["87b3388e.3d1eb8"]]},{"id":"87b3388e.3d1eb8","type":"function","z":"b4f38bde.6db3a8","name":"refactor","func":"msg.vpp = parseFloat(msg.payload)\nmsg.vamp = parseFloat(msg.payload)/2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1320,"wires":[["a4dbff15.0e67b","f9e05f6.b052fa"]]},{"id":"a4dbff15.0e67b","type":"function","z":"b4f38bde.6db3a8","name":"Get freq","func":"msg.payload = flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:FREQuency?\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1380,"wires":[["6df99904.3e2c48"]]},{"id":"50986267.a2028c","type":"change","z":"b4f38bde.6db3a8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"E","fromt":"str","to":"e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1460,"wires":[["bd45e456.111288"]]},{"id":"bd45e456.111288","type":"function","z":"b4f38bde.6db3a8","name":"refactor","func":"msg.freq = parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1460,"wires":[["bc90e196.e8ed6","2187e86d.080698"]]},{"id":"7ce64e64.d0474","type":"switch","z":"b4f38bde.6db3a8","name":"","property":"payload.display","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":840,"wires":[["e4d55bfc.e93898"],["e4d55bfc.e93898"],["471b4798.70fe78"]]},{"id":"8af55250.f62e7","type":"switch","z":"b4f38bde.6db3a8","name":"","property":"payload.display","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":900,"wires":[["d6e53553.8063a8"],["d6e53553.8063a8"],["33ce710c.3a773e"]]},{"id":"e4d55bfc.e93898","type":"function","z":"b4f38bde.6db3a8","name":"CH1 DISPlay","func":"msg.payload = flow.get(\"oscilloscope\") + \" \" +'\"'+ \":CHANnel1:DISPlay\" +\" \" +msg.payload.display\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":840,"wires":[["272e56c9.88ecfa","bd91661b.8e3c28"]]},{"id":"33ce710c.3a773e","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["ce8c664a.8df968","7bee2ba1.7f0a54","11f6d476.421edc"],"x":895,"y":920,"wires":[]},{"id":"471b4798.70fe78","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["ce8c664a.8df968","7bee2ba1.7f0a54","11f6d476.421edc"],"x":895,"y":860,"wires":[]},{"id":"d6e53553.8063a8","type":"function","z":"b4f38bde.6db3a8","name":"CH2 DISPlay","func":"msg.payload = flow.get(\"oscilloscope\") + \" \" +'\"'+ \":CHANnel2:DISPlay\" +\" \" +msg.payload.display\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":880,"wires":[["272e56c9.88ecfa","bd91661b.8e3c28"]]},{"id":"20d1cb3b.387fe4","type":"switch","z":"b4f38bde.6db3a8","name":"channel","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":480,"y":1160,"wires":[["148a9c8.f0d0e64"],["148a9c8.f0d0e64"],["c9774c13.2f9e7"]]},{"id":"c9774c13.2f9e7","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["ce8c664a.8df968","7bee2ba1.7f0a54","11f6d476.421edc"],"x":575,"y":1200,"wires":[]},{"id":"3f680f25.72042","type":"switch","z":"b4f38bde.6db3a8","name":"is error?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"error","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1380,"y":1120,"wires":[["9d48ab46.1eb838"],["535b7100.f331e"]]},{"id":"9d48ab46.1eb838","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["69efa2f7.85434c","913fb167.c475e"],"x":1475,"y":1100,"wires":[]},{"id":"bc90e196.e8ed6","type":"change","z":"b4f38bde.6db3a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.vpp","pt":"msg","to":"vpp","tot":"msg"},{"t":"set","p":"payload.vamp","pt":"msg","to":"vamp","tot":"msg"},{"t":"set","p":"payload.freq","pt":"msg","to":"freq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1460,"wires":[["48ceb8e8.ea6208"]]},{"id":"48ceb8e8.ea6208","type":"http response","z":"b4f38bde.6db3a8","name":"","statusCode":"","headers":{},"x":1470,"y":1460,"wires":[]},{"id":"a41c4481.29cd88","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\test.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1070,"y":1160,"wires":[["3f680f25.72042"],[],[]]},{"id":"4833b974.562568","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\test.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1070,"y":1240,"wires":[["a9317124.6b877"],[],[]]},{"id":"6df99904.3e2c48","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\test.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1070,"y":1380,"wires":[["50986267.a2028c"],[],[]]},{"id":"bbd180b.3819b8","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":60,"wires":[[],[],[]]},{"id":"b8341a30.5c7a38","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\gdstools-master\\capture_screen.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":820,"y":140,"wires":[["f7a2fb4c.b12798","856ea487.0629b8"],[],[]]},{"id":"f4371a1b.3ccb08","type":"template","z":"b4f38bde.6db3a8","name":"get screen comand","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"C:\\Users\\%username%\\.node-red\\node_modules\\node-red-dashboard\\dist\\screenshot.png  --port {{flow.oscilloscope}} --width 800 --height 480","output":"str","x":450,"y":140,"wires":[["b8341a30.5c7a38"]]},{"id":"47d7e975.13f0d8","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":220,"wires":[["e7b20d87.0257"],[],[]]},{"id":"70fccc85.73d5c4","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":300,"wires":[["3bd6c3e8.caf55c","78bca351.57ef0c"],[],[]]},{"id":"473cc886.3327e8","type":"exec","z":"b4f38bde.6db3a8","command":"py -3 C:\\Users\\%username%\\scripts\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":880,"y":460,"wires":[["eb2fda26.b75128"],[],[]]},{"id":"878d79c4.b4c1c8","type":"http in","z":"7393286f.88a008","name":"","url":"/setup/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":480,"wires":[["c5b956c5.599918"]]},{"id":"31302b9.2b5d1d4","type":"http in","z":"7393286f.88a008","name":"","url":"/setup/status","method":"get","upload":false,"swaggerDoc":"","x":190,"y":660,"wires":[["f5244e56.fea38"]]},{"id":"c5b956c5.599918","type":"switch","z":"7393286f.88a008","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"setcoord","vt":"str"},{"t":"hask","v":"setcapacity","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":480,"wires":[["975488b6.3b7898"],["98a0fe11.7054e"],["723740c8.fbbbd"]]},{"id":"e251b13a.a6cd6","type":"http response","z":"7393286f.88a008","name":"","statusCode":"","headers":{},"x":810,"y":300,"wires":[]},{"id":"7a7b04.bb68e4fc","type":"change","z":"7393286f.88a008","name":"400","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"400","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["e251b13a.a6cd6"]]},{"id":"46888149.ffec4","type":"change","z":"7393286f.88a008","name":"200","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["e251b13a.a6cd6"]]},{"id":"3363ae9f.4eb9a2","type":"change","z":"7393286f.88a008","name":"500","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":340,"wires":[["e251b13a.a6cd6"]]},{"id":"137e73d0.2572bc","type":"link in","z":"7393286f.88a008","name":"","links":["2a1f9bbe.dea764","46435b51.79f8b4"],"x":535,"y":260,"wires":[["46888149.ffec4"]]},{"id":"36e49b4f.4929a4","type":"link in","z":"7393286f.88a008","name":"","links":["723740c8.fbbbd","bcdec2dc.ce827","7ab1615d.095a","47a57fd1.549e6"],"x":535,"y":300,"wires":[["7a7b04.bb68e4fc"]]},{"id":"40f446cb.9c84c8","type":"link in","z":"7393286f.88a008","name":"","links":["7459554d.4040cc","3f350492.3bafbc","a1dac90b.23e0a8","a21e080a.4ef718"],"x":535,"y":340,"wires":[["3363ae9f.4eb9a2"]]},{"id":"723740c8.fbbbd","type":"link out","z":"7393286f.88a008","name":"","links":["36e49b4f.4929a4"],"x":655,"y":540,"wires":[]},{"id":"e80ec6ff.5726d8","type":"function","z":"7393286f.88a008","name":"","func":"msg.payload = \"setcoord\" + Math.round(parseFloat(msg.payload.setcoord))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":400,"wires":[["a576a23f.66327"]]},{"id":"eec05b77.614878","type":"function","z":"7393286f.88a008","name":"","func":"msg.payload = \"setcapacity\" + msg.payload.setcapacity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":460,"wires":[["eadbeb95.6fb678"]]},{"id":"975488b6.3b7898","type":"switch","z":"7393286f.88a008","name":"","property":"payload.setcoord","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"230","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":420,"wires":[["e80ec6ff.5726d8"],["7ab1615d.095a"]]},{"id":"a576a23f.66327","type":"serial request","z":"7393286f.88a008","name":"","serial":"50109926.d9e918","x":1050,"y":360,"wires":[["7422096c.aad908","178daf1f.30d6d1"]]},{"id":"7422096c.aad908","type":"switch","z":"7393286f.88a008","name":"is ready?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ready","vt":"str"},{"t":"cont","v":"done","vt":"str"},{"t":"cont","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1200,"y":360,"wires":[["2a1f9bbe.dea764"],["2a1f9bbe.dea764"],["7459554d.4040cc"]]},{"id":"98a0fe11.7054e","type":"switch","z":"7393286f.88a008","name":"","property":"payload.setcapacity","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":480,"wires":[["eec05b77.614878"],["eec05b77.614878"],["eec05b77.614878"],["bcdec2dc.ce827"]]},{"id":"bcdec2dc.ce827","type":"link out","z":"7393286f.88a008","name":"","links":["36e49b4f.4929a4"],"x":815,"y":500,"wires":[]},{"id":"7ab1615d.095a","type":"link out","z":"7393286f.88a008","name":"","links":["36e49b4f.4929a4"],"x":815,"y":440,"wires":[]},{"id":"7459554d.4040cc","type":"link out","z":"7393286f.88a008","name":"","links":["40f446cb.9c84c8"],"x":1315,"y":400,"wires":[]},{"id":"2a1f9bbe.dea764","type":"link out","z":"7393286f.88a008","name":"","links":["137e73d0.2572bc"],"x":1315,"y":340,"wires":[]},{"id":"178daf1f.30d6d1","type":"switch","z":"7393286f.88a008","name":"no response","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ERR_TIMEOUT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":400,"wires":[["7459554d.4040cc"]]},{"id":"f5244e56.fea38","type":"switch","z":"7393286f.88a008","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"getcoord","vt":"str"},{"t":"hask","v":"getcapacity","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":660,"wires":[["591f20d3.0f5ab"],["8a8b529b.eb6b"],["47a57fd1.549e6"]]},{"id":"591f20d3.0f5ab","type":"function","z":"7393286f.88a008","name":"","func":"msg.payload = \"getcoord\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":600,"wires":[["8b5517dc.a6da98"]]},{"id":"8a8b529b.eb6b","type":"function","z":"7393286f.88a008","name":"","func":"msg.payload = \"getcapacity\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":660,"wires":[["efc621da.616c8"]]},{"id":"8b5517dc.a6da98","type":"serial request","z":"7393286f.88a008","name":"","serial":"50109926.d9e918","x":870,"y":600,"wires":[["de005cec.89d78","435ef2c2.4b39cc"]]},{"id":"de005cec.89d78","type":"switch","z":"7393286f.88a008","name":"is ready?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"error","vt":"str"},{"t":"cont","v":"done","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1040,"y":600,"wires":[["3f350492.3bafbc"],[],["75365ea5.06d48"]]},{"id":"3f350492.3bafbc","type":"link out","z":"7393286f.88a008","name":"","links":["40f446cb.9c84c8"],"x":1195,"y":560,"wires":[]},{"id":"435ef2c2.4b39cc","type":"switch","z":"7393286f.88a008","name":"no response","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ERR_TIMEOUT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":560,"wires":[["3f350492.3bafbc"]]},{"id":"3599c663.90966a","type":"http response","z":"7393286f.88a008","name":"","statusCode":"","headers":{},"x":1330,"y":600,"wires":[]},{"id":"efc621da.616c8","type":"serial request","z":"7393286f.88a008","name":"","serial":"50109926.d9e918","x":870,"y":660,"wires":[["316cf597.cb476a","5f6a11a0.5960d"]]},{"id":"316cf597.cb476a","type":"switch","z":"7393286f.88a008","name":"is ready?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"error","vt":"str"},{"t":"cont","v":"done","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1040,"y":700,"wires":[["a1dac90b.23e0a8"],[],["1b07f2a2.4b3e0d"]]},{"id":"a1dac90b.23e0a8","type":"link out","z":"7393286f.88a008","name":"","links":["40f446cb.9c84c8"],"x":1195,"y":660,"wires":[]},{"id":"5f6a11a0.5960d","type":"switch","z":"7393286f.88a008","name":"no response","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ERR_TIMEOUT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":660,"wires":[["a1dac90b.23e0a8"]]},{"id":"75365ea5.06d48","type":"function","z":"7393286f.88a008","name":"","func":"msg.payload = {\"coord\": parseFloat(msg.payload)}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":600,"wires":[["3599c663.90966a"]]},{"id":"91bf9ee4.1ff1d","type":"http response","z":"7393286f.88a008","name":"","statusCode":"","headers":{},"x":1330,"y":700,"wires":[]},{"id":"1b07f2a2.4b3e0d","type":"function","z":"7393286f.88a008","name":"","func":"msg.payload = {\"capacity\": parseFloat(msg.payload)}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":700,"wires":[["91bf9ee4.1ff1d"]]},{"id":"47a57fd1.549e6","type":"link out","z":"7393286f.88a008","name":"","links":["36e49b4f.4929a4"],"x":655,"y":720,"wires":[]},{"id":"59d8399b.f7f808","type":"ui_button","z":"11bc5288.bcc5bd","name":"","group":"80416bb0.dc7638","order":12,"width":0,"height":0,"passthru":false,"label":"Multimeter Get Measurements","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":100,"wires":[["3154b28c.5ff7de"]]},{"id":"d9e0a258.ead1","type":"inject","z":"11bc5288.bcc5bd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":40,"wires":[["4a23d4a0.e948ac"]]},{"id":"4a23d4a0.e948ac","type":"change","z":"11bc5288.bcc5bd","name":"","rules":[{"t":"set","p":"multimeter","pt":"flow","to":"COM5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":40,"wires":[[]]},{"id":"3154b28c.5ff7de","type":"function","z":"11bc5288.bcc5bd","name":"get data","func":"msg.payload = flow.get(\"multimeter\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["492ca50b.5531bc"]]},{"id":"492ca50b.5531bc","type":"exec","z":"11bc5288.bcc5bd","command":"py -3 C:\\Users\\%username%\\scripts\\multimeter.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":100,"wires":[["54634a55.af8f84"],[],[]]},{"id":"54634a55.af8f84","type":"ui_text","z":"11bc5288.bcc5bd","group":"80416bb0.dc7638","order":13,"width":0,"height":0,"name":"","label":"Multimeter Vamp","format":"{{msg.payload}} V","layout":"row-spread","x":1130,"y":100,"wires":[]},{"id":"9404ce7a.24f51","type":"http in","z":"11bc5288.bcc5bd","name":"","url":"/multimeter/status","method":"get","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["5fa0eb73.2c1404"]]},{"id":"94f7567e.1eac48","type":"inject","z":"97147c73.b3df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["6dc8d2b5.d601fc"]]},{"id":"6dc8d2b5.d601fc","type":"change","z":"97147c73.b3df","name":"","rules":[{"t":"set","p":"key","pt":"global","to":"admin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[[]]},{"id":"5fa0eb73.2c1404","type":"function","z":"11bc5288.bcc5bd","name":"get data","func":"msg.payload = flow.get(\"multimeter\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["f24d33c0.88aa6"]]},{"id":"f24d33c0.88aa6","type":"exec","z":"11bc5288.bcc5bd","command":"py -3 C:\\Users\\%username%\\scripts\\multimeter.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":240,"wires":[["63c8179c.e76ba8"],[],["4430b90.b10f048"]]},{"id":"63c8179c.e76ba8","type":"switch","z":"11bc5288.bcc5bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":180,"wires":[["33dc03a4.4667ec"],["6c736969.05f6a8","e71893dd.f213a"]]},{"id":"33dc03a4.4667ec","type":"change","z":"11bc5288.bcc5bd","name":"500","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":240,"wires":[["6f210f46.fb1e3"]]},{"id":"4430b90.b10f048","type":"switch","z":"11bc5288.bcc5bd","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":260,"wires":[["33dc03a4.4667ec"]]},{"id":"6f210f46.fb1e3","type":"http response","z":"11bc5288.bcc5bd","name":"","statusCode":"","headers":{},"x":1290,"y":240,"wires":[]},{"id":"6c736969.05f6a8","type":"function","z":"11bc5288.bcc5bd","name":"parse","func":"msg.payload = {'vamp': parseFloat(msg.payload)}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":200,"wires":[["6f210f46.fb1e3"]]},{"id":"e71893dd.f213a","type":"function","z":"11bc5288.bcc5bd","name":"parse","func":"msg.payload = parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":160,"wires":[["54634a55.af8f84"]]},{"id":"f9e05f6.b052fa","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["dfdcfa9b.80a098"],"x":1275,"y":1320,"wires":[]},{"id":"dfdcfa9b.80a098","type":"link in","z":"b4f38bde.6db3a8","name":"","links":["f9e05f6.b052fa"],"x":995,"y":340,"wires":[["3ceb16b5.43e28a","620118e2.676cf8"]]},{"id":"2187e86d.080698","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["9452ffbb.2b682"],"x":1255,"y":1500,"wires":[]},{"id":"9452ffbb.2b682","type":"link in","z":"b4f38bde.6db3a8","name":"","links":["2187e86d.080698"],"x":975,"y":580,"wires":[["b9171dd0.4162c"]]},{"id":"eadbeb95.6fb678","type":"serial request","z":"7393286f.88a008","name":"","serial":"50109926.d9e918","x":1050,"y":460,"wires":[["4c3d3a6c.0d49b4","6a18c71d.21b428"]]},{"id":"4c3d3a6c.0d49b4","type":"switch","z":"7393286f.88a008","name":"is ready?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ready","vt":"str"},{"t":"cont","v":"done","vt":"str"},{"t":"cont","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1200,"y":460,"wires":[["46435b51.79f8b4"],["46435b51.79f8b4"],["a21e080a.4ef718"]]},{"id":"a21e080a.4ef718","type":"link out","z":"7393286f.88a008","name":"","links":["40f446cb.9c84c8"],"x":1315,"y":500,"wires":[]},{"id":"46435b51.79f8b4","type":"link out","z":"7393286f.88a008","name":"","links":["137e73d0.2572bc"],"x":1315,"y":440,"wires":[]},{"id":"6a18c71d.21b428","type":"switch","z":"7393286f.88a008","name":"no response","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ERR_TIMEOUT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":500,"wires":[["a21e080a.4ef718"]]},{"id":"8645aff.84ee05","type":"switch","z":"97147c73.b3df","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":380,"wires":[["91ffc3bf.d9c43"],["d9587264.ab258"]]},{"id":"34affff5.a9ef1","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":675,"y":360,"wires":[]},{"id":"7ae5fa8c.e19dd4","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":675,"y":400,"wires":[]},{"id":"91ffc3bf.d9c43","type":"function","z":"97147c73.b3df","name":"generator on output2 cmd","func":"msg = {\"payload\": flow.get(\"generator\") + \" \" +'\"C2:OUTP ON\"'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":360,"wires":[["34affff5.a9ef1"]]},{"id":"d9587264.ab258","type":"function","z":"97147c73.b3df","name":"generator off output2 cmd","func":"msg = {\"payload\": flow.get(\"generator\") + \" \" +'\"C2:OUTP OFF\"'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":400,"wires":[["7ae5fa8c.e19dd4"]]},{"id":"feec6b6c.991138","type":"ui_switch","z":"97147c73.b3df","name":"","label":"Generator output CH2","tooltip":"","group":"80416bb0.dc7638","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":180,"y":380,"wires":[["8645aff.84ee05"]]},{"id":"44113cc8.065b14","type":"link in","z":"97147c73.b3df","name":"","links":["b98d8958.f0a5d8","20db925.3da436e","c75f092.906b1f8","a65fa15d.1e56c"],"x":55,"y":380,"wires":[["feec6b6c.991138"]]},{"id":"97431b01.21fbc8","type":"switch","z":"97147c73.b3df","name":"channel","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":840,"wires":[["ef402657.0eb1b8"],["ab202a60.beb6c8"],["c24e9cbc.d39e8"]]},{"id":"c24e9cbc.d39e8","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":715,"y":960,"wires":[]},{"id":"13de88e4.0cbcb7","type":"function","z":"97147c73.b3df","d":true,"name":"generator on output cmd","func":"msg.payload = flow.get(\"generator\") + \" \" +'\"C'+ msg.payload.channel +':OUTP '+msg.payload.output+'\"'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":820,"wires":[["d334c429.6d1198","33b0150.ac9b4ec"]]},{"id":"d334c429.6d1198","type":"link out","z":"97147c73.b3df","d":true,"name":"","links":["6c7ed29a.83d80c"],"x":1415,"y":800,"wires":[]},{"id":"33b0150.ac9b4ec","type":"link out","z":"97147c73.b3df","d":true,"name":"","links":["a6ed9214.e0fb4"],"x":1395,"y":840,"wires":[]},{"id":"8a745313.8a8b9","type":"change","z":"97147c73.b3df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":740,"wires":[["31f9b5ff.991a5a","bf017f6.ee0548"]]},{"id":"9bdb8658.299648","type":"change","z":"97147c73.b3df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":780,"wires":[["31f9b5ff.991a5a","bf017f6.ee0548"]]},{"id":"31f9b5ff.991a5a","type":"link out","z":"97147c73.b3df","name":"","links":["e5491540.5d2d18"],"x":1075,"y":780,"wires":[]},{"id":"c35b8334.005e4","type":"change","z":"97147c73.b3df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":860,"wires":[["a65fa15d.1e56c","750fb4d3.3ad88c"]]},{"id":"cb667d71.9dc13","type":"change","z":"97147c73.b3df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":900,"wires":[["a65fa15d.1e56c","750fb4d3.3ad88c"]]},{"id":"a65fa15d.1e56c","type":"link out","z":"97147c73.b3df","name":"","links":["44113cc8.065b14"],"x":1055,"y":900,"wires":[]},{"id":"bf017f6.ee0548","type":"link out","z":"97147c73.b3df","name":"","links":["a6ed9214.e0fb4"],"x":1075,"y":740,"wires":[]},{"id":"ef402657.0eb1b8","type":"switch","z":"97147c73.b3df","name":"output","property":"payload.output","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":780,"wires":[["8a745313.8a8b9","c7a4cd57.13c95"],["9bdb8658.299648","c7a4cd57.13c95"],["c11ba4e.7c1eb58"]]},{"id":"c11ba4e.7c1eb58","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":855,"y":820,"wires":[]},{"id":"750fb4d3.3ad88c","type":"link out","z":"97147c73.b3df","name":"","links":["a6ed9214.e0fb4"],"x":1055,"y":860,"wires":[]},{"id":"ab202a60.beb6c8","type":"switch","z":"97147c73.b3df","name":"output","property":"payload.output","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":900,"wires":[["c35b8334.005e4"],["cb667d71.9dc13"],["7c0514e4.97946c"]]},{"id":"7c0514e4.97946c","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":855,"y":940,"wires":[]},{"id":"43479f2b.7703e","type":"switch","z":"97147c73.b3df","name":"channel","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":1080,"wires":[["f853a139.7843b"],["e6a933fe.eafa6"],["62b3fae5.b3ec14"]]},{"id":"62b3fae5.b3ec14","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":715,"y":1200,"wires":[]},{"id":"9827c343.227c3","type":"function","z":"97147c73.b3df","name":"generator set vpp output2","func":"msg2 = {\"payload\": flow.get(\"generator\") + \" \" +'\"'+ \"C2:BSWV AMP,\" +msg.payload}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":480,"wires":[["20cee7c7.1f9458"]]},{"id":"20cee7c7.1f9458","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":675,"y":480,"wires":[]},{"id":"9ad0fa44.d83478","type":"ui_slider","z":"97147c73.b3df","name":"","label":"Generator CH2 Output, V","tooltip":"","group":"80416bb0.dc7638","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0.1","max":10,"step":"0.1","x":230,"y":480,"wires":[["9827c343.227c3"]]},{"id":"b1994617.5c7428","type":"link in","z":"97147c73.b3df","name":"","links":["5fdfad9c.57bd44","b691a7dd.dd5f78"],"x":55,"y":480,"wires":[["9ad0fa44.d83478"]]},{"id":"af504924.7d50e8","type":"function","z":"97147c73.b3df","name":"parse","func":"msg.payload = parseFloat(msg.payload.vpp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1120,"wires":[["b691a7dd.dd5f78"]]},{"id":"b691a7dd.dd5f78","type":"link out","z":"97147c73.b3df","name":"","links":["b1994617.5c7428"],"x":1095,"y":1120,"wires":[]},{"id":"e6a933fe.eafa6","type":"switch","z":"97147c73.b3df","name":"vpp","property":"payload.vpp","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":1160,"wires":[["af504924.7d50e8","f922d011.a1305"],["1746b28f.e4d65d"]]},{"id":"1746b28f.e4d65d","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":915,"y":1200,"wires":[]},{"id":"f922d011.a1305","type":"link out","z":"97147c73.b3df","name":"","links":["a6ed9214.e0fb4"],"x":915,"y":1160,"wires":[]},{"id":"9f5f76e6.d96ab8","type":"switch","z":"97147c73.b3df","name":"channel","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":1340,"wires":[["717b83ba.e1083c"],["8a95d3c5.e3bdd"],["b6324697.0b8398"]]},{"id":"b6324697.0b8398","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":715,"y":1460,"wires":[]},{"id":"8a95d3c5.e3bdd","type":"switch","z":"97147c73.b3df","name":"freq","property":"payload.freq","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"2000000","v2t":"num"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":1420,"wires":[["2a98f604.8cd2fa","30272fd6.34e65"],["b36f01e0.66b8b"]]},{"id":"2a98f604.8cd2fa","type":"function","z":"97147c73.b3df","name":"parse","func":"msg.payload = parseFloat(msg.payload.vpp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1380,"wires":[["69fac594.8565ec"]]},{"id":"69fac594.8565ec","type":"link out","z":"97147c73.b3df","name":"","links":["2193b6be.bcf9ca"],"x":1035,"y":1380,"wires":[]},{"id":"b36f01e0.66b8b","type":"link out","z":"97147c73.b3df","name":"","links":["9749564f.d38ec8","7bee2ba1.7f0a54"],"x":875,"y":1460,"wires":[]},{"id":"30272fd6.34e65","type":"link out","z":"97147c73.b3df","name":"","links":["a6ed9214.e0fb4"],"x":875,"y":1420,"wires":[]},{"id":"f19c85ef.49c1d8","type":"function","z":"97147c73.b3df","name":"generator set ch2 freq","func":"msg2 = {\"payload\": flow.get(\"generator\") + \" \" +'\"'+ \"C1:BSWV FRQ,\" +Math.round(msg.payload) + \"Hz\"}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":580,"wires":[["84ba62e4.29be9"]]},{"id":"84ba62e4.29be9","type":"link out","z":"97147c73.b3df","name":"","links":["6c7ed29a.83d80c"],"x":895,"y":580,"wires":[]},{"id":"fbc6ad1d.c51a9","type":"ui_text_input","z":"97147c73.b3df","name":"","label":"Generator CH2 Frequency, Hz","tooltip":"","group":"80416bb0.dc7638","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"2000","topic":"","x":250,"y":580,"wires":[["15374e67.401fb2"]]},{"id":"2193b6be.bcf9ca","type":"link in","z":"97147c73.b3df","name":"","links":["a0e0541f.5e5688","69fac594.8565ec"],"x":55,"y":580,"wires":[["fbc6ad1d.c51a9"]]},{"id":"26f15fd8.33e3b","type":"switch","z":"97147c73.b3df","name":"between 0 and 2000000","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"2000000","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":540,"wires":[["290a246.522d1dc"],[]]},{"id":"15374e67.401fb2","type":"switch","z":"97147c73.b3df","name":"between 0 and 2000000","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"2000000","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":580,"wires":[["f19c85ef.49c1d8"],[]]},{"id":"22b768b5.e170e8","type":"switch","z":"b4f38bde.6db3a8","name":"","property":"payload.channel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":860,"wires":[["7ce64e64.d0474","ee3ba983.cd9be8"],["8af55250.f62e7","ee3ba983.cd9be8"],["fd6f8588.0474c8"]]},{"id":"fd6f8588.0474c8","type":"link out","z":"b4f38bde.6db3a8","name":"","links":["ce8c664a.8df968","7bee2ba1.7f0a54","11f6d476.421edc"],"x":755,"y":960,"wires":[]},{"id":"ee3ba983.cd9be8","type":"debug","z":"b4f38bde.6db3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":1000,"wires":[]},{"id":"bd91661b.8e3c28","type":"debug","z":"b4f38bde.6db3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":940,"wires":[]},{"id":"c7a4cd57.13c95","type":"debug","z":"97147c73.b3df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":660,"wires":[]}]