software/nodered flow.txt
[{"id":"7fc4eafc.bea564","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fa01086e.b82758","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e4bac7f2.f34fe8","type":"ui_group","z":"","name":"Generator","tab":"fa01086e.b82758","order":3,"disp":true,"width":"6","collapse":false},{"id":"18fad8ec.f6b3a7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4caedaa8.f16f24","type":"ui_group","z":"","name":"Oscilloscope","tab":"fa01086e.b82758","order":2,"disp":true,"width":"6","collapse":false},{"id":"fe97da92.71d778","type":"ui_group","z":"","name":"Coils","tab":"fa01086e.b82758","order":4,"disp":true,"width":"6","collapse":false},{"id":"369ac2b2.40356e","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1000","bin":"false","out":"interbyte","addchar":"","responsetimeout":"20000"},{"id":"2c5b8af3.9df616","type":"ui_group","z":"","name":"Oscilloscope Screen","tab":"fa01086e.b82758","order":1,"disp":true,"width":"12","collapse":false},{"id":"11e0d5e6.20272a","type":"ui_slider","z":"7fc4eafc.bea564","name":"","label":"slider","tooltip":"","group":"e4bac7f2.f34fe8","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":10,"step":1,"x":110,"y":280,"wires":[["7f1e15df.8a184c"]]},{"id":"e0452a14.44d0e8","type":"exec","z":"7fc4eafc.bea564","command":"py -3 C:\\Users\\Владимир\\Desktop\\test\\generator.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":140,"wires":[["4a91d4cd.26f11c"],[],[]]},{"id":"126ffd73.7fe8e3","type":"ui_switch","z":"7fc4eafc.bea564","name":"","label":"Generator output","tooltip":"","group":"e4bac7f2.f34fe8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":220,"wires":[["3866bcaf.155554"]]},{"id":"3866bcaf.155554","type":"switch","z":"7fc4eafc.bea564","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":220,"wires":[["3ff47025.6bcbd"],["323f9bd9.9f5574"]]},{"id":"f117ea8c.efdf08","type":"link out","z":"7fc4eafc.bea564","name":"","links":["de3d325.baf46d"],"x":635,"y":200,"wires":[]},{"id":"de3d325.baf46d","type":"link in","z":"7fc4eafc.bea564","name":"","links":["f117ea8c.efdf08","a541f61d.489a78","46cbf069.1b6a","9edcfa94.53c4d8"],"x":75,"y":140,"wires":[["e0452a14.44d0e8"]]},{"id":"a541f61d.489a78","type":"link out","z":"7fc4eafc.bea564","name":"","links":["de3d325.baf46d"],"x":635,"y":240,"wires":[]},{"id":"999a6f18.63625","type":"inject","z":"7fc4eafc.bea564","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["7c24d1c6.7c5fb"]]},{"id":"7c24d1c6.7c5fb","type":"change","z":"7fc4eafc.bea564","name":"","rules":[{"t":"set","p":"generator","pt":"flow","to":"USB0::0xF4ED::0xEE3A::NDG10GAQ3R0226::INSTR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[[]]},{"id":"3ff47025.6bcbd","type":"function","z":"7fc4eafc.bea564","name":"generator on output cmd","func":"msg = {\"payload\": flow.get(\"generator\") + \" \" +'\"C1:OUTP ON\"'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":200,"wires":[["f117ea8c.efdf08"]]},{"id":"323f9bd9.9f5574","type":"function","z":"7fc4eafc.bea564","name":"generator off output cmd","func":"msg = {\"payload\": flow.get(\"generator\") + \" \" +'\"C1:OUTP OFF\"'}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":240,"wires":[["a541f61d.489a78"]]},{"id":"7f1e15df.8a184c","type":"function","z":"7fc4eafc.bea564","name":"generator set vpp output","func":"msg2 = {\"payload\": flow.get(\"generator\") + \" \" +'\"'+ \"C1:BSWV AMP,\" +msg.payload}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":280,"wires":[["46cbf069.1b6a"]]},{"id":"46cbf069.1b6a","type":"link out","z":"7fc4eafc.bea564","name":"","links":["de3d325.baf46d"],"x":495,"y":280,"wires":[]},{"id":"f139c090.052b5","type":"ui_text_input","z":"7fc4eafc.bea564","name":"","label":"Frequency, Hz","tooltip":"","group":"e4bac7f2.f34fe8","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"2000","topic":"","x":140,"y":320,"wires":[["35587b07.4a8ca4"]]},{"id":"35587b07.4a8ca4","type":"function","z":"7fc4eafc.bea564","name":"generator set freq","func":"msg2 = {\"payload\": flow.get(\"generator\") + \" \" +'\"'+ \"C1:BSWV FRQ,\" +Math.round(msg.payload) + \"Hz\"}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":320,"wires":[["9edcfa94.53c4d8"]]},{"id":"9edcfa94.53c4d8","type":"link out","z":"7fc4eafc.bea564","name":"","links":["de3d325.baf46d"],"x":495,"y":320,"wires":[]},{"id":"bb584c0.73111b8","type":"ui_text_input","z":"7fc4eafc.bea564","name":"","label":"Coordinate, mm","tooltip":"","group":"fe97da92.71d778","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"1000","topic":"","x":140,"y":440,"wires":[["cfec56be.300018","ef7b09b4.d31898"]]},{"id":"69b15eea.b72c2","type":"serial request","z":"7fc4eafc.bea564","name":"","serial":"369ac2b2.40356e","x":330,"y":500,"wires":[["87e15896.23e4f8","b4393d0f.3a061"]]},{"id":"cfec56be.300018","type":"function","z":"7fc4eafc.bea564","name":"","func":"msg2 = {}\nif (!isNaN(msg.payload)) {\n    msg2 = {\"payload\": \"setcoord\" + Math.round(msg.payload)}\n}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":480,"wires":[["69b15eea.b72c2"]]},{"id":"117678c.2bbc587","type":"ui_text","z":"7fc4eafc.bea564","group":"fe97da92.71d778","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-center","x":940,"y":480,"wires":[]},{"id":"ef7b09b4.d31898","type":"template","z":"7fc4eafc.bea564","name":"set not ready","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Not ready!","output":"str","x":750,"y":440,"wires":[["117678c.2bbc587"]]},{"id":"7f248a89.5534f4","type":"template","z":"7fc4eafc.bea564","name":"set ready","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ready!","output":"str","x":740,"y":480,"wires":[["117678c.2bbc587"]]},{"id":"87e15896.23e4f8","type":"switch","z":"7fc4eafc.bea564","name":"is ready?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ready","vt":"str"},{"t":"cont","v":"done","vt":"str"},{"t":"cont","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":500,"wires":[["7f248a89.5534f4"],["7f248a89.5534f4"],["992476ab.5944d8"]]},{"id":"992476ab.5944d8","type":"template","z":"7fc4eafc.bea564","name":"set error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR!","output":"str","x":740,"y":520,"wires":[["117678c.2bbc587"]]},{"id":"d08a6870.dccc68","type":"ui_dropdown","z":"7fc4eafc.bea564","name":"","label":"","tooltip":"","place":"Select option","group":"fe97da92.71d778","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"C1","value":1,"type":"num"},{"label":"C2","value":2,"type":"num"},{"label":"C3","value":3,"type":"num"}],"payload":"","topic":"","x":120,"y":560,"wires":[["268cacc6.db7894"]]},{"id":"268cacc6.db7894","type":"function","z":"7fc4eafc.bea564","name":"","func":"msg2 = {\"payload\": \"setcapacity\" + msg.payload}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":520,"wires":[["69b15eea.b72c2"]]},{"id":"b4393d0f.3a061","type":"switch","z":"7fc4eafc.bea564","name":"no response","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"ERR_TIMEOUT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":560,"wires":[["dad395ce.e188f8"]]},{"id":"dad395ce.e188f8","type":"template","z":"7fc4eafc.bea564","name":"set no response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"No response!","output":"str","x":760,"y":560,"wires":[["117678c.2bbc587"]]},{"id":"ba2a1b4d.2d2ac8","type":"ui_button","z":"7fc4eafc.bea564","name":"","group":"4caedaa8.f16f24","order":1,"width":0,"height":0,"passthru":false,"label":"Auto Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":860,"wires":[["130cd291.50603d","dadb4876.ceeb48"]]},{"id":"7d64afdf.07b53","type":"ui_text","z":"7fc4eafc.bea564","group":"4caedaa8.f16f24","order":3,"width":0,"height":0,"name":"","label":"Vpp = ","format":"{{msg.vpp}} V","layout":"row-left","x":1070,"y":1100,"wires":[]},{"id":"e6da05a.2dbacf8","type":"ui_button","z":"7fc4eafc.bea564","name":"","group":"4caedaa8.f16f24","order":2,"width":0,"height":0,"passthru":false,"label":"Get Measurements","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":900,"wires":[["3de0051e.efed2a"]]},{"id":"84fd08f3.20a098","type":"link in","z":"7fc4eafc.bea564","name":"","links":["7baecf2b.cb8b4","50a11a13.ac6584","503e1ff0.49a8a"],"x":115,"y":800,"wires":[["93a79016.6aedd"]]},{"id":"93a79016.6aedd","type":"exec","z":"7fc4eafc.bea564","command":"py -3 C:\\Users\\Владимир\\Desktop\\test\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":800,"wires":[["c300ddf1.e56c7"],[],[]]},{"id":"130cd291.50603d","type":"function","z":"7fc4eafc.bea564","name":"Auto Set","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":AUTOset\"}\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":860,"wires":[["7baecf2b.cb8b4"]]},{"id":"bc338696.dd45f8","type":"inject","z":"7fc4eafc.bea564","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":740,"wires":[["29fdd225.a611ee"]]},{"id":"29fdd225.a611ee","type":"change","z":"7fc4eafc.bea564","name":"","rules":[{"t":"set","p":"oscilloscope","pt":"flow","to":"COM4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":740,"wires":[[]]},{"id":"7baecf2b.cb8b4","type":"link out","z":"7fc4eafc.bea564","name":"","links":["84fd08f3.20a098"],"x":555,"y":860,"wires":[]},{"id":"c300ddf1.e56c7","type":"link out","z":"7fc4eafc.bea564","name":"","links":["3b13292e.90af36"],"x":625,"y":800,"wires":[]},{"id":"26175429.8aefdc","type":"function","z":"7fc4eafc.bea564","name":"Set CH1 as measure source","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:SOURce1 CH1\"}\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":980,"wires":[["2b3ed44e.99110c"]]},{"id":"6b0e2095.3e55d","type":"function","z":"7fc4eafc.bea564","name":"Get Vpp","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:PK2Pk?\"}\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1040,"wires":[["26a372c5.0b2d0e"]]},{"id":"2b3ed44e.99110c","type":"exec","z":"7fc4eafc.bea564","command":"py -3 C:\\Users\\Владимир\\Desktop\\test\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":980,"wires":[["6b0e2095.3e55d"],[],[]]},{"id":"26a372c5.0b2d0e","type":"exec","z":"7fc4eafc.bea564","command":"py -3 C:\\Users\\Владимир\\Desktop\\test\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":1040,"wires":[["2dc78d0c.662232","fee0adec.733b9"],[],[]]},{"id":"2dc78d0c.662232","type":"change","z":"7fc4eafc.bea564","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"E","fromt":"str","to":"e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1120,"wires":[["65347469.00943c"]]},{"id":"65347469.00943c","type":"function","z":"7fc4eafc.bea564","name":"refactor","func":"msg.vpp = parseFloat(msg.payload)\nmsg.vamp = parseFloat(msg.payload)/2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1120,"wires":[["7d64afdf.07b53","3e5ba1a8.e6c27e"]]},{"id":"3e5ba1a8.e6c27e","type":"ui_text","z":"7fc4eafc.bea564","group":"4caedaa8.f16f24","order":4,"width":0,"height":0,"name":"","label":"Vamp = ","format":"{{msg.vamp}} V","layout":"row-left","x":1080,"y":1140,"wires":[]},{"id":"59bb67c1.b52838","type":"exec","z":"7fc4eafc.bea564","command":"py -3 C:\\Users\\Владимир\\Desktop\\test\\oscilloscope.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":1200,"wires":[["5aa1f792.317468"],[],[]]},{"id":"fee0adec.733b9","type":"function","z":"7fc4eafc.bea564","name":"Get freq","func":"msg2 = {\"payload\": flow.get(\"oscilloscope\") + \" \" +'\"'+ \":MEASure:FREQuency?\"}\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1200,"wires":[["59bb67c1.b52838"]]},{"id":"5aa1f792.317468","type":"change","z":"7fc4eafc.bea564","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"b'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\n'","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"E","fromt":"str","to":"e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1280,"wires":[["46e1cd60.cdb434"]]},{"id":"46e1cd60.cdb434","type":"function","z":"7fc4eafc.bea564","name":"refactor","func":"msg.payload = parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1280,"wires":[["87885e55.afd02"]]},{"id":"87885e55.afd02","type":"ui_text","z":"7fc4eafc.bea564","group":"4caedaa8.f16f24","order":5,"width":0,"height":0,"name":"","label":"Frequency = ","format":"{{msg.payload}} Hz","layout":"row-left","x":1090,"y":1280,"wires":[]},{"id":"d420f31f.ae5b3","type":"ui_template","z":"7fc4eafc.bea564","group":"2c5b8af3.9df616","name":"","order":5,"width":"12","height":"8","format":"<div>\n    <img src={{msg.payload}} style=\"float:center;width:100%;height:100%;\"/>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":880,"wires":[[]]},{"id":"bb120e36.ecd97","type":"exec","z":"7fc4eafc.bea564","command":"py -3 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":900,"wires":[["fdeb2e89.453ed","26175429.8aefdc"],[],[]]},{"id":"fdeb2e89.453ed","type":"function","z":"7fc4eafc.bea564","name":"","func":"msg.payload = \"http://localhost:1880/ui/screenshot.jpg?\" + Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":880,"wires":[["d420f31f.ae5b3"]]},{"id":"3de0051e.efed2a","type":"delay","z":"7fc4eafc.bea564","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":920,"wires":[["dadb4876.ceeb48"]]},{"id":"dadb4876.ceeb48","type":"template","z":"7fc4eafc.bea564","name":"get screen comand","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"C:\\Users\\Владимир\\Desktop\\gdstools-master\\capture_screen.py C:\\Users\\Владимир\\.node-red\\node_modules\\node-red-dashboard\\dist\\screenshot.jpg  --port COM4 --width 800 --height 480","output":"str","x":530,"y":900,"wires":[["bb120e36.ecd97"]]},{"id":"4a91d4cd.26f11c","type":"link out","z":"7fc4eafc.bea564","name":"generator done","links":["504ca23b.27f0dc"],"x":695,"y":100,"wires":[]},{"id":"504ca23b.27f0dc","type":"link in","z":"7fc4eafc.bea564","name":"","links":["4a91d4cd.26f11c"],"x":165,"y":1000,"wires":[["3de0051e.efed2a"]]}]